<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.5">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.108676165289-ofoumldqk4np020qsac1mqp339n6dok0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.108676165289-ofoumldqk4np020qsac1mqp339n6dok0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>108676165289-ofoumldqk4np020qsac1mqp339n6dok0.apps.googleusercontent.com</string>
	<key>CFBundleDisplayName</key>
	<string>Almanac</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkAppIcon</string>
				</array>
			</dict>
			<key>MonochromeAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MonochromeAppIcon</string>
				</array>
			</dict>
			<key>StarAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>StarAppIcon</string>
				</array>
			</dict>
			<key>HeartAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeartAppIcon</string>
				</array>
			</dict>
			<key>DotGridAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DotGridAppIcon</string>
				</array>
			</dict>
			<key>GlyphAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GlyphAppIcon</string>
				</array>
			</dict>
			<key>PixelAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PixelAppIcon</string>
				</array>
			</dict>
			<key>1992AppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1992AppIcon</string>
				</array>
			</dict>
			<key>1993AppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1993AppIcon</string>
				</array>
			</dict>
			<key>2012AppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>2012AppIcon</string>
				</array>
			</dict>
			<key>2013AppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>2013AppIcon</string>
				</array>
			</dict>
			<key>AbstractAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AbstractAppIcon</string>
				</array>
			</dict>
			<key>BubbleAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BubbleAppIcon</string>
				</array>
			</dict>
			<key>SkeuoAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SkeuoAppIcon</string>
				</array>
			</dict>
			<key>TimebotAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TimebotAppIcon</string>
				</array>
			</dict>
			<key>TimePieceAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TimePieceAppIcon</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>