<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.108676165289-ofoumldqk4np020qsac1mqp339n6dok0</string>
			</array>
		</dict>
	</array>
</dict>
</plist>